body {
    font-family: 'Nanum Gothic',sans-serif;
    font-size:13px;
}

#fullpage{
    transition: margin-left .5s;
}

/*헤더시작*/
#header{
    position:fixed;
    width:100%;
    height:80px;
    top:0;
    left:0;
    z-index:10;
    background:rgba(255, 237, 237, 0.52);
}

#header h1{
    text-align:center;
    line-height:80px;
    font-size:40px;
}

#header h1 em{
    font-weight:800;
}

/*햄버거 아이콘 시작*/ /*openbtn*/
#menu {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:1%;
    z-index: 11;
    color:#000;
    text-align:center;
    line-height: 50px;
    font-size:40px;
    cursor: pointer;
    width:50px;
    height:50px;
}
/*햄버거 끝*/
/*header 끝*/

/*gnb시작*/
#nav{
    position: fixed;
    z-index:12;
    background: #000;
    height:100%;
    width:0;
    color:#fff;
    transition: 1s;
    overflow-x: hidden;
}

#gnb li{
    font-size:32px;
    padding:25px 0;
    text-indent:30px;
}

#gnb li:hover{
    background:rgba(255,255,255,.1);
    transition: .5s;
}

#gnb li:last-child:hover{
    background:transparent;
}

#gnb li:last-child{
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 60px;
    display:inline-block;
    padding:25px;
    text-indent:0;
}

#gnb li:first-child{
    margin-top:120px;
}

#gnb li a{
    color:#fff;
    display: block;
    width:100%;
    height:100%;
    transition: 0.3s;
}
/*gnb끝*/

/*main 시작*/
/*section1 home 시작*/
.section.s1{
    background:url(../images/bgbg2.png) 60% 30% no-repeat;
    background-size: cover;
}
.home_container{
    margin-left:100px;
}

.home_h2{
    font-family: 'Malgun Gothic', sans-serif;
    font-size:52px;
    font-weight:800;
    color:#222;
}

#autoType:after{
    content:"|";
    animation:cursor .7s infinite;
}

@keyframes cursor{
    0% {opacity:1;}
    100% {opacity:0;}
}/*마우스 커서 깜빡임*/

.home_txt{
    width:550px;
    min-width:550px;
    height:80px;
    font-size:20px;
    margin-top:30px;   
    line-height:1.8; 
}
/*home 끝*/
/*슬라이드 시작*/
.slidewrap{
    width:500px;
    height:720px;
    background:rgba(255,255,255,.7);
    margin:50px 0 0 50px;
}

.slidecontent{
    padding:70px 0 100px 50px;
    font-size:18px;
}

.lol{
    background: url(../images/lol1.jpg)40% 0% no-repeat;
    background-size:cover;
	width: 25%;
    height: 100%;
}

.mnh{
    background: url(../images/mnh1.jpg)40% 10% no-repeat;
    background-size:cover;
    width:25%;
    height:100%;
}

.dat{
    background: url(../images/dat5.jpg)50% 50% no-repeat;
    background-size: cover;
    width:25%;
    height:100%:
}

.phj{
    background: url(../images/phj2.jpg)50% 50% no-repeat;
    background-size: cover;
    width:25%;
    height:100%:
}

.slidecontent h2{
    font-weight: 800;
    font-size:52px;
    margin:120px 0 5px;
}

.slidecontent p{
    padding:6px 0 5px 2px;
    font-size:20px;
}

.slidecontent ul li{
    width:140px;
    height:20px;
    border:2px solid #333;
    padding:10px;
    text-align:center;
    color:#333;
    border-radius:2px;
    cursor: pointer;
    display: inline-block;
    margin:20px 0 10px 2px;
    line-height:20px;
}

.slidecontent a{
    color:#333;
    font-weight: 600;
}

.slidecontent li:hover,.webpage:hover{
    background:#333;
    transition:1s;
}

.slidecontent li:hover a,.webpage:hover a{
    color:#fff;
    transition: 1s;
}

.slidecontent .webpage{
    width:312px;
    height:20px;
    border:2px solid #333;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    line-height:20px;
    margin:0 0 200px 2px;

}
/*슬라이드 끝*/

/*profile 시작*/
.s3 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    letter-spacing: 1.3px;
    font-weight:900;
    background: linear-gradient(to right, rgba(205,144,155,.4),rgba(238,199,199,.2)),url(../images/nd_2.png)60% 20% no-repeat;
    background-size:cover;
}

/*sns btn*/

.sns_wrap{
    position: relative;
    width:380px;
    height:100px;
    background:#fff;
    border-radius: 50px;
    margin:250px 0 50px 100px;
}

.sns_more{
    position: absolute;
    top:0;
    left:0;
    line-height:80px;
    color:#fff;
    text-align: center;
    display:block;
    width:340px;
    height:80px;
    padding:10px 20px;
    border-radius:50px;
    background:#000;
    transition: 2s;
}

.sns_more:hover,.sns_wrap:hover .sns_more{
    left:260px;
    cursor: pointer;
}

.sns_container{
    color:#000;
    display: block;
    text-indent:25px;
    line-height:100px;
}

.sns_container a{
    color:#000;
}

.sns_container i:hover{
    cursor: pointer;
}

/*sns btn끝*/

.s3 ul li {
    width:500px;
    cursor: pointer;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-repeat: no-repeat;
    transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98); 
    margin-left:100px;
}
  
.PARK {
    background-image: linear-gradient(180deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 100% 0%; 
}

.PARK:hover {
    background-size: 100% 200%; 
    transition: 1s;
}
  
.AGE {
    background-image: linear-gradient(270deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 0%;
    background-size: 0% 100%; 
}
  
.AGE:hover {
    background-size: 200% 100%;
    transition: 1s; 
}
  
.MAIL {
    background-image: linear-gradient(0deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 100% 100%;
    background-size: 100% 0%; 
}
    
.MAIL:hover {
    background-size: 100% 200%; 
    transition: 1s;
}
  
.PUBLISHER {
    background-image: linear-gradient(90deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-size: 0% 100%; 
}
    
.PUBLISHER:hover {
    background-size: 200% 100%; 
    transition: 2s;
}
  
.FRONT {
    background-image: linear-gradient(135deg, #fff 0%, #fff 50%, transparent 50.1%);
    background-size: 0% 100%; 
}
.FRONT:hover {
    background-size: 220% 100%; 
    transition: 2s;
}
  
.NEWCOMER {
    background-image: radial-gradient(circle farthest-corner at center center, #fff 0%, #fff 50%, transparent 50.1%);
    background-position: 50% 50%;
    background-size: 0% 0%; 
}
.NEWCOMER:hover {
    background-size: 200% 400%; 
    transition: 1s;
}

/*profile 끝*/

@media screen and (max-width: 600px) {
    #header h1{
        font-size:26px;
        text-align: right;
        margin-right:16px;
    }

    .home_container{
        margin-left:20px;

    }

    .home_container h2{
        font-size:32px;
    }

    .home_txt{
        font-size:18px;
        width:320px;
        min-width: 260px;
        height:auto;
        outline:1px solid red;
        word-break: keep-all;
    }

    .slidewrap{
        background:rgba(255,255,255,.8);
        width:90%;
        min-width: 342px;
        height:550px;
        margin:60px 0 0 20px;
    }

    .slidecontent{
        padding:50px 0 100px 15px;
        font-size:16px;
    }

    .slidecontent h2{
        font-size:36px;
    }

    .slidecontent p{
        font-size:18px;
        letter-spacing: -.5px;
    }

    .slidecontent ul li{
        font-size:16px;
        width:120px;
    }

    .slidecontent .webpage{
        width:270px;
        margin:0 0 100px 2px;

    }

    .s3{
        font-size: 40px;
    } 

    .sns_wrap{
        margin:20px 0 20px 20px;
        width:300px;
        height:100px;
    }

    .sns_more{
        padding:10px 20px;
        width:260px;
        height:80px;
    }

    .sns_more:hover,.sns_wrap:hover .sns_more{
        left:280px;
    }

    .s3 ul li{
        margin-left:20px;
        letter-spacing: -.5px;
    }


    #fp-nav.fp-right{
            /*오른쪽 메뉴 페이저*/
        display: none !important;
    }

    .s2 > .fp-controlArrow.fp-prev,.s2 > .fp-controlArrow.fp-next{
        margin-top:650px !important;
    }

    .s2 > .fp-controlArrow.fp-prev{
            /*슬라이드 왼쪽 방향키*/
        left:40px !important;
    }

    .s2 > .fp-controlArrow.fp-next{
        /*슬라이드 오른쪽 방향키*/
        left:90px !important;
    }
}


/*풀페이지 옵션 시작*/

#fp-nav.fp-right li{
    /*오른쪽 메뉴 페이저*/
    margin:30px !important;
}

#fp-nav.fp-right li a span{
    width:12px !important;
    height:12px !important;
    border-radius:50% !important;
    background:#fff !important;
    opacity:.6 !important;
}

#fp-nav ul li a.active span{
    /*active 된 메뉴 페이저*/
    width:12px !important;
    height:12px !important;
    border-radius:50% !important;
    opacity:1 !important;
    margin:-2px 0 0 -2px !important;
}

#fp-nav ul li:hover a span,.fp-slidesNav ul li:hover a span{
    width: 20px !important;
    height: 20px !important;
    margin: -6px 0 0 -6px !important;
}

#fp-nav ul li .fp-tooltip{
    /*네비게이션 툴팁*/
    font-size:20px !important;
    font-family:'Nanum Gothic',sans-serif !important;
    right:25px !important; 
}


.fp-slidesNav.fp-bottom{
    /*슬라이드 네비 페이저*/
    text-align:center;
}

.fp-slidesNav.fp-bottom span{
    background:#fff;
}

.s2 > .fp-controlArrow.fp-prev,.s2 > .fp-controlArrow.fp-next{
    /*슬라이드쇼 방향키*/
    width:40px;
    height:40px;
    border-radius:50%;
    border:2px solid #333;
    text-align:center;
    margin-top:700px;
    z-index:10;
}

.s2 > .fp-controlArrow.fp-prev{
    top:0;
    left:100px;
}
.s2 > .fp-controlArrow.fp-next{
    top:0;
    left:160px;
}

.s2 > .fp-controlArrow.fp-prev:before{
    content:"\e93d";
    font-family: xeicon;
    font-size:20px;
    line-height:40px;
    font-weight: 900;
    color:#333;
}
.s2 > .fp-controlArrow.fp-next:before{
    content:"\e940";
    font-family: xeicon;
    font-size:20px;
    font-weight: 900;
    line-height:40px;
    color:#333;
}
/*options끝*/