body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#fff;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9;
    opacity:.1;
}

header h1{
    font-size:3.076rem;
    text-align:right;
    padding-right:2rem;
    line-height:7.692rem;
}

header h1 a{
    color:#fff;
    text-decoration: none;
}

#wrapper {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    left:5%;
    display:none;
}

.init {
    animation:none !important;
}
  
.line {
    background:#ffffff;
    margin-top:6px;
    margin-bottom:6px;
    width:56px;
    height:7px; 
    border-radius:2px;
    box-shadow:0 1px 3px rgba(0,0,0,.5);
    position:relative;
}
  
.line-top {
    animation:line-top .5s forwards ease-out,
              line-top-rotate .3s .5s forwards ease-out;
}
  
 
.top-reverse {
    animation:line-top-rotate-reverse .3s forwards ease-out,
              line-top-reverse .5s .3s forwards ease-out;
}
  
.line-mid {
    animation:line-mid .5s forwards ease-out;
  }
  

.mid-reverse {
    animation:line-mid-invisible .3s forwards ease-out, 
              line-mid-reverse .5s .3s forwards ease-out;
}
  
.line-bot {
    animation:line-bot .5s forwards ease-out,
              line-bot-rotate .3s .5s forwards ease-out;
}
  

.bot-reverse {
    animation:line-bot-rotate-reverse .3s forwards ease-out,
              line-bot-reverse .5s .3s forwards ease-out;
}
  
@keyframes line-top {
    0% {transform:translateY(0px)}
    100% {transform:translateY(13px)}
}
  

@keyframes line-top-reverse {
    0% {transform:translateY(13px)}
    100% {transform:translateY(0px)}
}
  
@keyframes line-top-rotate {
    0% {transform:translateY(13px) rotateZ(0deg)}
    100% {transform:translateY(13px) rotateZ(45deg)}
}
  

@keyframes line-top-rotate-reverse {
    0% {transform:translateY(13px) rotateZ(45deg)}
    100% {transform:translateY(13px) rotateZ(0deg)}
}
  
@keyframes line-mid {
    0% {transform:scale(1)}
    100% {transform:scale(0)}
}
  

@keyframes line-mid-reverse {
    0% {transform:scale(0)}
    100% {transform:scale(1)}
}
  
@keyframes line-mid-invisible {
    0% {transform:scale(0)}
    100% {transform:scale(0)}
}
  
@keyframes line-bot {
    0% {transform:translateY(0px)}
    100% {transform:translateY(-13px)}
}
  
  
@keyframes line-bot-reverse {
    0% {transform:translateY(-13px)}
    100% {transform:translateY(0px)}
}
  
@keyframes line-bot-rotate {
    0% {transform:translateY(-13px) rotateZ(0deg)}
    100% {transform:translateY(-13px) rotateZ(135deg)}
}
  
  
@keyframes line-bot-rotate-reverse {
    0% {transform:translateY(-13px) rotateZ(135deg)}
    100% {transform:translateY(-13px) rotateZ(0deg)}
}
/*menu 완성*/

/*main 분기*/
.section1 {
    background:linear-gradient(rgba(34,34,34,.9),rgba(34,34,34,.9)),url(../images/ndkey.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.section2 {
    background-color: #2A2A2C;
}

.section3 {
    background-color:  #222;
}

.section4 {
    background-color:  #111;
}

.section5 {
    background-color:  #333;
}

/*section 공통*/

/*section 공통 끝*/

/*섹션 1 시작*/
.section1 div {
    width:100%;
    height:100%;
    text-align:center;
}

.section1 div div {
    width:60%;
    height:auto;
    min-height:9.230rem;
    border:6px solid #fff;
    text-align: center;
    margin:0 auto;
    position: relative;
    top:15%;
}

.section1 div div p{
    background:url(../images/search.png) no-repeat;
    background-size:contain;
    width:3rem;
    height:3rem;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right:3%;
    z-index:4;
}

.section1 div div h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.076rem;
    font-weight: 800;
    color: #fff;
    letter-spacing:1px;
    line-height:9.23rem;
}

.section1 div .profile{
    position:relative;
    top:15%;
    left:16%;
}

.section1 div .profile img{
    width:5%;
    height:auto;
}

/*section1 완성*/

/* section2 */
.section2{
    font-size:.9rem;
}

.section2 h2{
    padding-top:1.5rem;
    padding-bottom:1rem;
    font-size:3.076rem;
    text-align:center;
}

.section2 .profile_container{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: flex-start;
}

.section2 .prodiv{
    width:45%;
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start;
}

.profile_hj{
    order:-1;
}

.section2 h3{
    color:rgb(134, 134, 50);
    font-size:18px;
    width:100%;
    margin-top:40px;
    margin-bottom:20px;
}

.profile_hj .imgcontainer{
    width:300px;
    display: flex;
    justify-content: center;
}

.profile_hj img{
    width:80%;
    height:auto;
    border-radius: 50%;
    padding:10px;
    border:1px solid #eee;
}

.profile_hj .hj{
    display: inline-block;
    outline:1px solid red;
    margin-left:50px;
}

.profile_hj .hj li{
    font-size:16px;
    margin-bottom:10px;
}

.profile_hj .ch{
    margin-top:20px;
    outline:1px solid red;
}

.profile_hj .ch li{
    list-style-type: initial;
    font-size:16px;
    text-indent: 10px;
    margin:20px 0;
}

.profile_ed{
    order:1;
}

.profile_ed li{
    display:inline-block;
    font-weight:400;
    padding:0 30px;
    font-size:16px;
}

.profile_ed li:nth-child(2){
    margin:0 18px;
}

.profile_ed li p:nth-child(2){
    font-size:16px;
}

.profile_ed li span{
    font-size:16px;
    color:#ddd;
}

.profile_skill{
    order:-1;
}

.profile_skill li{
    font-size:16px;
    padding:16px 0;
    list-style-type:initial;
    text-indent:20px;
}

.profile_skb{
    order:2;
}

.profile_skb .skill_bar {
    width:100%;
}

.profile_skb .skill_bar li{
    margin-left:40px;
    width:80%;
    height:30px;
}

.skill_bar li{
    padding:10px 0;
}

.skill_bar li:first-child{
    padding-top:0;
}

.profile_skb .skill_bar li p{
    font-size:16px;
}

.profile_skb .skill_bar li .bbasic{
    width:100%;
    height:16px;
    background:#ddd;
    position: relative;
}

.profile_skb .skill_bar li .bbasic .bmove{
    height:16px;
    background:#333;
    position: absolute;
    top:0;
    left:0;
}

.profile_skb .skill_bar li:first-child .bmove{
    width:90%;
}

.profile_skb .skill_bar li:nth-child(2) .bmove{
    width:80%;
}

.profile_skb .skill_bar li:last-child .bmove{
    width:90%;
}

/*section2 완성*/

/*phones*/
@media only screen and (max-width: 480px){
    header {
        height:7.692rem;
        background:blue;
    }
    header h1{
        line-height: 7.692rem;
    }
    #wrapper{
        display:block;
    }
    /*section 1 chapter*/
    .section1 div div{
        top:25%;
        width:80%;
        min-height:9.23rem;
        border:4px solid #fff;
    }
    .section1 div .profile{
        top:25%;
        left:22%;
    }
    .section1 div div p{
        display:none;
    }
    .section1 div div h2{
        font-size:26px;
        letter-spacing:-1.3px;
    }
    .section1 div .profile img{
        width:35%;
    }
    
    .section2 .prodiv{
        width:90%;
    }
    .section2 .prodiv:nth-child(3){
        display:none;
    }
    .section2 h3{
        color:rgb(134, 134, 50);
        font-size:1rem;
        width:100%;
        margin-bottom:0;
    }
    .profile_hj .hj li{
        padding-bottom:.5rem;
        text-indent:1rem;
        font-size:.9rem;
    }
    .profile_hj .hj li:nth-child(4),.profile_hj .hj li:nth-child(5),.profile_hj .hj li:last-child{
        display:none;
    }
    .profile_hj img{
        margin-left:0;
        width:80%;
        border:none;
    }
    .profile_hj .ch li{
        letter-spacing: -.1rem;

    }
    .profile_ed li{
        font-size:.8rem;
        padding:0 .2rem;
        display: block;
        text-indent:2rem;
    }
    .profile_ed li p, .profile_ed li span{
        font-size:.8rem;
    }
    .profile_ed li:first-child{
        display:none;
    }
    .profile_ed li:nth-child(2){
        margin:0;
    }
     
}

@media only screen and (min-width: 480px) and (max-width: 600px){
    header {
        background:peru;
    }
    /*section 1 chapter*/
    .section1 div div{
        top:28%;
        width:70%;
        min-height:20rem;
    }
    .section1 div div p{
        display:none;
    }
    .section1 div div h2{
        font-size:3.2rem;
    }
    .section1 div .profile{
        top:28%;
        left:22%;
    }
    .section1 div .profile img{
        width:34%;
    }
    .section2 .prodiv{
        width:90%;
    }
    .section2 .prodiv:nth-child(3){
        display:none;
    }
    .section2 h3{
        color:rgb(134, 134, 50);
        font-size:1rem;
        width:100%;
        margin-bottom:0;
    }
    .profile_hj .hj li{
        padding-bottom:.5rem;
        text-indent:4rem;
    }
    .profile_hj img{
        margin-left:2rem;
        width:100%;
    }
    .profile_ed li:first-child{
        display:none;
    }
    .profile_ed li:nth-child(2){
        margin:0;
    }
}

/*portrait tablets and large phones*/
@media only screen and (min-width: 600px){
    header {
        background:yellow;
    }
     /*section 1 chapter*/
    .section1 div div{
        top:22%;
        width:70%;
        min-height:20rem;
    }
    .section1 div .profile{
        top:22%;
        left:25%;
    }
    .section1 div div p{
        display:none;
    }
    .section1  div div h2{
        font-size:4.3rem;
        letter-spacing:-.1rem;
    }
    .section1 div .profile img{
        width:30%;
    }
    .profile_hj .hj li{
        padding-bottom:.5rem;
        text-indent:.7rem;
    }
    .profile_hj img{
        width:100%;
    }
    .profile_hj .ch li{
        list-style-type:initial;
        letter-spacing:-.1rem;
        text-indent:1rem;
    }
    .profile_ed li:first-child{
        display:none;
    }
    .profile_ed li:nth-child(2){
        margin:0;
    }
    .profile_skill li{
        text-indent:2rem;
    }
}
/*landscape tablets*/
@media only screen and (min-width:768px){
    header {
        background:red;
    }
     /*section 1 chapter*/
    .section1 div div{
        top:22%;
        width:75%;
        min-height:9.23rem;
    }
    .section1 div div p{
        display:none;
    }
    .section1 div div h2{
        font-size:3.3rem;
    }
    .section1 div .profile{
        top:22%;
        left:25%;
    }
    .section1 div .profile img{
        width:30%;
    }
    .profile_hj .hj li{
        padding:.5rem 0;
        text-indent:2rem;
    }
    .profile_hj .ch li{
        list-style-type:initial;
        letter-spacing:normal;
        text-indent:2rem;
    }
    .profile_ed li:first-child{
        display:inline-block;
    }
  
}
/*laptops/desktops, 992px ~*/
@media only screen and (min-width:992px) {
    header{
        background:palegreen;
    }
    #wrapper{
        display:block;
    }
    .section1 div div{
        top:25%;
        width:80%;
        min-height:9.23rem;
    }
    .section1 div div p{
        display:block;
    }
    .section1 div div h2{
        font-size:4.4rem;
    }
    .section1 div .profile{
        top:25%;
        left:30%;
    }
    .section1 div .profile img{
        width:25%;
    }
    .profile_hj .hj li{
        padding:.5rem 0;
        text-indent:4rem;
    }
    .profile_hj .ch li{
        list-style-type:initial;
        letter-spacing:normal;
        text-indent:2rem;
    }
    .profile_ed li:first-child{
        display:inline-block;
    }
    .profile_ed li:nth-child(2){
        margin:0;
    }
    .profile_skill li{
        text-indent:4rem;
    }
    
}